html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

header {
  width: 100%;
  margin-bottom: 2rem;
}

header nav {
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007d7f;
}

header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header ul button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

header ul button:hover {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


main{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

article img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.article-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.article-header-text h2 {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}

.article-header-text h3 {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  color: rgb(126, 126, 126);
  font-weight: 500;
}

.article-header h2{
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.text-paragraph {
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   font-size: 1.5rem;

}

.article {
  padding: 1.5rem;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
  cursor: pointer;
}

.articles-links-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.input-container {
  margin: 1rem;
}

.upload-input {
  box-sizing: border-box;
  margin: 1rem;
  padding: 0;
}

.create-article {
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

label {
  font-size: 1.3rem;
}

form {
  width: 60%;
  padding: 2rem;
  background-color: rgb(248, 248, 248);
  border-radius: 1rem;
}

form h2 {
  font-size: 2.5rem;
  color: rgb(71, 71, 71);
  font-weight: 500;
}

.create-article input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.create-article textarea {
  width: 100%;
  box-sizing: border-box;
}

form button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background: none;
  background-color: #038284;
  color: white;
}

form .input-container input {
  border: 2px solid rgb(160, 160, 160);
  border-radius: 0.6rem;
  outline: none;
}

form .img-input {
  border: none;
  padding : 5px;
  outline: none;
}

form .input-container textarea {
  border: 2px solid rgb(160, 160, 160);
  border-radius: 0.6rem;
  padding: 1rem;
}

.artciles {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.full-article img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.full-article h2 {
  font-size: 2.5rem;
  margin: 0;
}

.full-article h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.full-article p {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

@media (max-width: 780px) {
  .articles-links-page {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 780px)  {
  .articles-links-page {
    grid-template-columns: 1fr 1fr;
  }
}


